@import "~bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html body {
    font-family: 'Playfair Display', serif;
}

.bg-black {
    background-color: #000;
}

.bg-antrisite {
    background-color: #1b1e21;
}

.title {
    border: 3px solid white;
    padding: 0.5rem;
}

.add-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
